* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.header {
    background: #FFF8F3;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}

.nav-title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    display: flex;
    list-style: none;
    margin-left: 50px;
}

.primary-text {
    color: #FD6E0A;
}

.primary-btn {
    color: aliceblue;
    height: 64px;
    background: #FD6E0A;
    border: 0;
    border-radius: 5px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    padding: 18px 35px;
}

.title {
    display: flex;
    align-items: center;
    margin: 0 200px;
}

.title-secondary {
    color: #474747;
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
}

.title-primary {
    color: #474747;
    font-style: normal;
    font-weight: 700;
    font-size: 85px;
}

.title-p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    margin-top: 5px;
}

.contact-btn {
    color: #FD6E0A;
    height: 64px;
    margin-top: 5px;
    margin-left: 5px;
    border: 1px solid #FD6E0A;
    border-radius: 5px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    padding: 18px 35px;
}